.errorTitle {
    text-align: center;
    font-size: 250px;
    color: red;
    margin: 0;
}
.errorSubTitle {
    text-align: center;
    font-size: 50px;
    color: red;
    text-transform: uppercase;
    margin: 0;
}
